@import "tailwindcss";



.font-sans {
	font-family: 'Montserrat', 'Poppins', sans-serif;
}

@keyframes fade-in {
	0% { opacity: 0; transform: translateY(30px); }
	100% { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
	animation: fade-in 1s cubic-bezier(0.4,0,0.2,1) forwards;
}
.delay-100 { animation-delay: 0.1s; }
.delay-200 { animation-delay: 0.2s; }
.delay-300 { animation-delay: 0.3s; }
.delay-400 { animation-delay: 0.4s; }
.delay-500 { animation-delay: 0.5s; }

